/* .container1 {
    display: flex;
    justify-content: space-between;
} */

body {
    max-width: 1550px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: transparent;
    
}
header {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 7rem;
}

header img {
    width: 128px;
    height: 39.01px;
}

p {
    color: white;
    /* border: 1px solid; */
    color:#161E2E;
    font-weight: 750px;
    size: 30px;

}
.nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 1rem 7rem;
    /* padding-right: 50px; */
}
.nav :nth-child(1) {
    border-bottom: 2px solid #8A2C0D;
    width: 7.5%;
}

.nav h4 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}

.framewrapper {
    display: flex;
    justify-content: space-between;
}

.frame1 {
    width: 50%;
    padding: 10rem 7rem;
}
.frame1 p {
    font-family: "Inter";
    font-size: 55px;
    font-weight: 750;
    line-height: 1.1em;
    text-align: left;
    color: #292323;
    margin-bottom: 5%;
}
.frame1 label {
    font-family: Product Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.frame1 span {
    color: #FF5A1F;
}
.registerbtn {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
    width: 270px;
    height: 52px;
    border: none;
    color: white;
    text-align: left;
    padding: 10px 20px;
    border-radius: 12px;
    margin-top: 5%;
}

.frame2 {
    /* border: 1px solid black; */
    width: 50%;    
    display: flex;
    background: linear-gradient(219.36deg, #C11717 0%, #FF8A4C 100%);    
}

.frame2 img {
    object-fit: cover;
    margin-left: -10%;
    margin-top: 10%;
}

.container2 {
    background-color: #F9F9F9;
}

.services {
    width: 350px;
    height: 140px;
    top: 84px;
    padding: 3rem 0rem 3rem 7rem;
}

.services label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #161E2E;

}
.services p {
    font-family: "Archivo";
    font-size: 32px;
    font-weight: 700;
    line-height: 34.82px;
    text-align: left;

}
.frame3 {
    display: flex;
}

.boxes {
    display: grid;
    grid: 50% 20% / auto auto;   
    width: 70%;
}

.texts {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 371px;
}

.texts p {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    color: #161E2E;
}

.texts label {
    width: 244px;
    height: 108px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

.texts img {
    width: 19.01px;
    height: 20px;
    border: 1px solid #FF4F4C;
    padding: 15px;
    border-radius: 100%;
}

.image {
    margin-top: -17%;
}

.container3 {
    background: linear-gradient(219.36deg, #C11717 0%, #FF8A4C 100%);
    padding-top: 3rem;
    height: 826px;

}

.text3 {
    text-align: center;
    margin: auto 31%;
}
.text3 p {
    font-family: "poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 39.17px;
    color: white;
}

.text3 label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: white; 
}

.image3 {
    border: 2px solid white;
    margin: 8% 25%;
    width: 50%;
    position: relative;
}


.objects {
    display: flex;
    justify-content: space-around;
    margin: -11% 20%;
    width: 60%;
    position: absolute;
}

.object1 {
    text-align: center;

}

.object1 img {
    border-radius: 100%;
    padding: 25px;
    background-color: #FF5A1F;
}

.object1 p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: white;
}

.object1 label {
    font-family: "Inter";
    font-size: 12px;
    line-height: 19px;
    color: white;
}


.image4 img {
    width: auto;
    height: 324.01px;
    margin: 6% 28%;    
}

.container4 {
    margin: 3% auto;
}

.text4 {
    text-align: center;
    margin: auto 31%;
}
.text4 p {
    font-family: "poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 39.17px;
    color: #161E2E;
}

.text4 label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #161E2E; 
}

.switchbutton {
    width: 235px;
    height: 62px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #D2D6DC;
    box-shadow: 1px 1px 2px 0px #493F3F26;
    margin: 3% 41%;
    padding-right: 30px;
}

.switchbutton p {
    text-align: right;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #4B5563;
}

.monthly {
    width: 118px;
    height: 55px;
    border-radius: 10px;
    position: absolute;
    background: #FF5A1F;
    box-shadow: 3px 2px 8px 0px #FF5A1F80;
    margin: -21% 2%;
}

.monthly p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.group1 {
    display: flex;
    justify-content: space-between;
    margin: 3% 16%;
    padding-top: 6%;
    
}

.groupbody {
    padding: 0 10%;
}

.groupbody p {
    font-family: "Inter";
    font-size: 36px;
    font-weight: 900;
    line-height: 43.57px;
    text-align: left;
    color: #FF5A1F;
    padding-left: 4%;
}

.groupbody p:nth-of-type(2) {
    font-family: "Inter";
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    color: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
    margin: -3% auto;

        
}

.groupbody span {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #6B7280;
}

.groupbody button {
    width: 219px;
    height: 45px;
    border-radius: 12px;
    margin: auto 6%;
    text-align: center;
}

.groupbody label {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #4B5563
}

.group1a {
    width: 283px;
    height: 473px;
    margin-top: 6%;
    border-radius: 18px;
    border: 2px solid #FCD9BD;
}

ul {
    list-style: none;
  }
 li {
    color: #161E2E;
 }
  ul li:before {
    content: '✓';
    padding: 12px;
    margin-left: -20%;
  }

.group1b {
    width: 294px;
    height: 539px;
    border-radius: 18px;
    border: 2px solid #FCD9BD;
    box-shadow: 0px 24px 40px 0px #FF5A1F40;

}

.group1c {
    width: 283px;
    height: 618px;
    margin-top: -8%;
    border-radius: 18px;
    border: 2px solid #FCD9BD;    
}

.container5 {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 7% auto;
}

.container5 img {
    object-fit: cover;
    width: 400px;
    height: 248px;
    padding: 7% 0 7% 0;
}

.container6 {
    height: 900px;

}


.class1 {
    margin: 2% 17%;
    border: 1.5px solid #FEECDC;
    padding: 15px;
    
}

.class2 {
    margin: 2% 17%;
    border: 1px solid #D2D6DC;
    padding: 15px;
    
}

.class1 label {
    font-family: "poppins";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #4B5563;
}

.c61 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c61 p {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.58px;
    color: #FF5A1F;
}

#minus {
    width: 24px;
    height: 24px;
    color: #FF5A1F;
}

.c62 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c62 p {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.58px;
    color: #4B5563;
}

#plus {
    width: 24px;
    height: 24px;
    color: #4B5563;
}

.text5 {
    text-align: center;
    margin: auto 31%;
}
.text5 p {
    font-family: "poppins";
    font-size: 24px;
   font-weight: 400;
   line-height: 26.11px;
   color: #161E2E;

}

.text5 label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #374151;

}

footer {
    background-color: #FF5A1F;
    height: 1050px;
    margin-top: 4%;
}

.text6 {
    text-align: center;
    margin: auto 37%;
    padding-top: 25px;
}
.text6 p {
    font-family: "poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 39.17px;
    color: white;
    margin-bottom: 4%;
}

.text6 label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: white; 
}

.group106 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2% 33%;    
}

.group11 {
    width: 134.75px;
    height: 69px;
}

.group11 p {
    color: white;
    margin-top: 1%;

}


.group11:nth-of-type(2) {
    background-color: #DF2320;
    border-radius: 6px;

}

.frame104 {
    width: 430px;
    height: 464px;
    padding: 32px 48px 32px 48px;
    border-radius: 16px;
    margin: 3% 33%;
    background-color:#FFFFFF;
    box-shadow: 0px 16px 24px 0px #00000040;
}

::placeholder {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    color: #4B5563;
}

.group88 p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    color: #FB9F9D;
}

input {
    width: 390px;
    height: 51px;
    border-radius: 11px;
    border: 2px solid #FF4F4C; 
    margin-bottom: 5%;
    box-shadow: 0px 1px 3px 0px #00000026;


}

input:nth-of-type(1) {
    box-shadow: 0px 0px 0px 4px #FB9F9D;

}

input:nth-of-type(3) {
    height: 129px;

}

textarea {
    width: 390px;
    height: 129px;
    border: 2px solid #FF4F4C;
    box-shadow: 0px 1px 3px 0px #00000026;
    border-radius: 11px;
    padding-top: 15px;    
}

.rec31 {
    border: 1px solid #D03801;
    background: #DF2320;
    height: 40px;
}

.rec31 p {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: center;
    color: white;
}

.section5 {
    /* width: 100%; */
    padding-top: 20px;
    display: flex;
    justify-content: space-between;    
}

.nav2 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 1rem 7rem;
}

.nav2 h4 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}